
.user {
  height: 60px;
}

.button {
  margin-right:10px;
}

.left-align {
  text-align: left;
}

.buttonRight {
  margin-left:50px;
}

table {
  align-self: center;
}

.td-min-width {
  min-width: 60px;
}

td {
  text-align: left;
  margin: 20px;
  min-width: 200px;
}

.admin-row {
  background-color: #d1ffb7;
}
